.image-1-icon {
    position: absolute;
    top: 55px;
    left: 0px;
    width: 1020px;
    height: 305px;
    object-fit: cover;
}
.sabor-arte {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 191px;
    height: 47px;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0), -1px 0 0 rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0);
}
.sobremesas-marmitas-restaurant {
    position: absolute;
    top: 0px;
    left: 271px;
    font-size: 12px;
    white-space: pre-wrap;
    text-align: left;
    display: flex;
    align-items: center;
    width: 732px;
    height: 55px;
}
.comidas-saudveis {
    position: absolute;
    top: 284px;
    left: 16px;
    font-size: 36px;
    display: flex;
    color: #fff;
    text-align: left;
    align-items: center;
    width: 368px;
    height: 68px;
}
.span {
    color: #e7e0ec;
}
.b {
    position: absolute;
    top: 361px;
    left: 408px;
    font-size: 36px;
    letter-spacing: 0.1em;
    display: inline-block;
    width: 205px;
    height: 42px;
    color: #a2845e;
}
.frame-child {
    position: absolute;
    top: 451px;
    left: 126px;
    border-radius: 10px;
    background-color: #f7ebeb;
    width: 82px;
    height: 92px;
}
.frame-item {
    position: absolute;
    top: 451px;
    left: 801px;
    border-radius: 10px;
    background-color: #f7ebeb;
    width: 82px;
    height: 92px;
}
.frame-inner {
    position: absolute;
    top: 451px;
    left: 666px;
    border-radius: 10px;
    background-color: #f7ebeb;
    width: 82px;
    height: 92px;
}
.rectangle-div {
    position: absolute;
    top: 451px;
    left: 531px;
    border-radius: 10px;
    background-color: #f7ebeb;
    width: 82px;
    height: 92px;
}
.frame-child1 {
    position: absolute;
    top: 451px;
    left: 396px;
    border-radius: 10px;
    background-color: #f7ebeb;
    width: 82px;
    height: 92px;
}
.frame-child2 {
    position: absolute;
    top: 451px;
    left: 261px;
    border-radius: 10px;
    background-color: #f7ebeb;
    width: 82px;
    height: 92px;
}
.image-2-icon {
    position: absolute;
    top: 456px;
    left: 142px;
    width: 51px;
    height: 51px;
    object-fit: cover;
}
.promoes {
    position: absolute;
    top: 515px;
    left: 126px;
    letter-spacing: 0.1em;
    display: inline-block;
    width: 82px;
    height: 25px;
}
.image-3-icon {
    position: absolute;
    top: 456px;
    left: 142px;
    width: 51px;
    height: 51px;
    object-fit: cover;
}
.doces {
    position: absolute;
    top: 513px;
    left: 261px;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 16px;
}
.image-4-icon {
    position: absolute;
    top: 460px;
    left: 410px;
    width: 54px;
    height: 53px;
    object-fit: cover;
}
.cafs {
    position: absolute;
    top: 515px;
    left: 396px;
    letter-spacing: 0.1em;
    display: inline-block;
    width: 82px;
    height: 25px;
}
.image-5-icon {
    position: absolute;
    top: 460px;
    left: 815px;
    width: 54px;
    height: 53px;
    object-fit: cover;
}
.favoritos {
    position: absolute;
    top: 515px;
    left: 801px;
    letter-spacing: 0.1em;
    display: inline-block;
    width: 80px;
    height: 25px;
}
.image-6-icon {
    position: absolute;
    top: 460px;
    left: 536px;
    width: 71px;
    height: 53px;
    object-fit: cover;
}
.saudvel {
    position: absolute;
    top: 515px;
    left: 531px;
    letter-spacing: 0.1em;
    display: inline-block;
    width: 82px;
    height: 25px;
}
.image-7-icon {
    position: absolute;
    top: 464px;
    left: 677px;
    width: 60px;
    height: 45px;
    object-fit: cover;
}
.cupons {
    position: absolute;
    top: 515px;
    left: 666px;
    letter-spacing: 0.1em;
    display: inline-block;
    width: 82px;
    height: 28px;
}
.image-icon {
    position: absolute;
    top: 602px;
    left: 16px;
    border-radius: 5px;
    width: 327px;
    height: 157px;
    object-fit: cover;
}
.image-icon1 {
    position: absolute;
    top: 602px;
    left: 384px;
    border-radius: 5px;
    width: 293px;
    height: 157px;
    object-fit: cover;
}
.image-icon2 {
    position: absolute;
    top: 602px;
    left: 707px;
    border-radius: 5px;
    width: 295px;
    height: 157px;
    object-fit: cover;
}
.image-1-parent {
    width: 100%;
    position: center;
    background-color: #fff;
    height: 668px;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    color: #000;
    font-family: 'Inria Serif';
}

