<div class="container">
    <img class="header-image" src="https://via.placeholder.com/1020x305" />
    <div class="title">Sabor & Arte</div>
    <div class="menu">Sobremesas Marmitas Restaurantes Bebidas Açaí Lanches Cafeterias Saudável Salgados</div>
    <div class="healthy-foods">Comidas Saudáveis</div>
    <div class="decorative-line">
        <span class="dot">.</span>
        <span class="dots">...........</span>
    </div>
    <div class="box" style="left: 126px;"></div>
    <div class="box" style="left: 261px;"></div>
    <div class="box" style="left: 396px;"></div>
    <div class="box" style="left: 531px;"></div>
    <div class="box" style="left: 666px;"></div>
    <div class="box" style="left: 801px;"></div>
    <img class="icon" src="https://via.placeholder.com/51x51" />
    <div class="label">Promoções</div>
    <div class="label" style="left: 261px;">Doces</div>
    <img class="icon" style="left: 410px;" src="https://via.placeholder.com/54x53" />
    <div class="label" style="left: 396px;">Cafés</div>
    <img class="icon" style="left: 815px;" src="https://via.placeholder.com/54x53" />
    <div class="label" style="left: 801px;">Favoritos</div>
    <img class="icon" style="left: 536px;" src="https://via.placeholder.com/71x53" />
    <div class="label" style="left: 531px;">Saudável</div>
    <img class="icon" style="left: 677px;" src="https://via.placeholder.com/60x45" />
    <div class="label" style="left: 666px;">Cupons</div>
    <img class="card" style="left: 16px; top: 602px;" src="https://via.placeholder.com/327x157" />
    <img class="card" style="left: 384px; top: 602px;" src="https://via.placeholder.com/293x157" />
    <img class="card" style="left: 707px; top: 602px;" src="https://via.placeholder.com/295x157" />
</div>
